<li>
    {Astro.props.text}
</li>
<style>
    li {
        margin: 0;
        font-size: 1.2vh;
        margin-left: 0.7vh;
        margin-right: 0.7vh;
        margin-top: 0.2vh;
        margin-bottom: 0.2vh;
    }
</style>