---
const { text } = Astro.props;
---
<li class="selectable" data-value={text}>
    {text}
</li>

<style>
    li {
        margin: 0;
        font-size: 1.2vh;
        margin-left: 0.7vh;
        margin-right: 0.7vh;
        margin-top: 0.2vh;
        margin-bottom: 0.2vh;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease;
        border-radius: 2px;
    }

    /* Azul si es correcto */
    li.correct {
        background-color: #007bff;
        color: white;
    }

    /* Rojo si es incorrecto */
    li.incorrect {
        background-color: #dc3545;
        color: white;
    }
</style>