<div class="row">
    <div class="section-starter">
        <slot name="Start" />
    </div>
    <div class="section-starter">
        <slot name="Mid" />
    </div>
    <div class="section">
        <slot name="End" />
    </div>
</div>

<style>
    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    .section {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .section-starter {
        width: 0.8vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible; /* permite que el contenido se salga */
        position: relative;
    }
</style>