---
import { ReorderArray } from '@Utilities/ReorderArray.js';
import { BooksComponent_6 } from '../../../../../registry/AmericanSpeakOutStarter/6/BooksComponent_6.js';
const { RowA, RowB, H3A, H4A, H4B, H5A, ULA, LIA, InputTextA, GridA } = BooksComponent_6;

const NumberWords = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"];
const NewReorderArray = ReorderArray(NumberWords, [3,7,1,9,0,6,4,8,2,10,5]);
---

<RowA>
    <div slot="Mid">
        <RowB>
            <div slot="Start">
                <H3A text="1" />
            </div>
            <div slot="Mid">
                <H4A text="A" />
            </div>
            <div slot="End">
                <H5A text="Match the words in the box with the numbers." />
            </div>
        </RowB>
    </div>
</RowA>
<RowA>
    <div slot="Mid">
        <ULA masterOrder={NumberWords}>
            {NewReorderArray.map(item => (
                <LIA text={item} />
            ))}
            <script>
                import { SetupItemSelection } from "../../../../../utilities/SetupItemSelection.js";
                // Definimos un helper para querySelectorAll
                const $$ = (sel : any) => document.querySelectorAll(sel);

                $$('.ula-container').forEach(container => {
                    const masterOrder = JSON.parse(container.getAttribute('data-master'));
                    const currentSelection : any = [];
                    
                    // Buscamos los items SOLO dentro de este contenedor
                    // Asegúrate de que LIA renderice la clase 'selectable'
                    const items = container.querySelectorAll('.selectable');

                    SetupItemSelection(items, currentSelection, masterOrder);
                });
            </script>
        </ULA>
    </div>
</RowA>
<RowA>
    <div slot="Mid">
        <GridA rows={4} cols={3}>
            {NumberWords.map((item, index) => (
                <RowB>
                    <div slot="Mid">
                        <H4B text={index+"."} />
                    </div>
                    <div slot="End">
                        <InputTextA text="" solutions={[item]} />
                    </div>
                </RowB>
            ))}
            
        </GridA>
    </div>
</RowA>