---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import TitleA from '../components/GenericsComponents/TitleA.astro';
import RowA from '../components/GenericsComponents/RowA.astro';
import ClickeableIconA from '../components/GenericsComponents/ClickeableIconA.astro';
import CDA from '../assets/cd_a.png';
import RowB from '../components/GenericsComponents/RowB.astro';

const AltCDA = "CD Icon";
---
<Layout>
    <main>
        <Header />
        <section>
            <div class="left">
                <RowA>
                    <div slot="Start">
                        <ClickeableIconA src={CDA.src} alt={AltCDA} />
                    </div>
                    <TitleA text="NUMBERS 1-10" />
                </RowA>
                <RowA>
                    <RowB>
                        
                    </RowB>
                </RowA>
            </div>
            <div class="right">
                <h1>Page b</h1>
            </div>
        </section>
    </main>
</Layout>

<style>
    main {
        height: 100vh;
        width: 75vh;
        background-color: #d6e5e9;
    }
    section {
        height: 46vh;
        width: 100%;
        display: flex;
    }
    .left, .right {
        width: 50%;
        height: 100%;
        border: 1px solid black;
    }
</style>