<h3>{Astro.props.text}</h3>

<style>
    h3 {
        font-size: 1vh;
        color: #c0771e;
        text-shadow: 
            0.2vh 0.2vh 0 white,
            -0.2vh 0.2vh 0 white,
            0.2vh -0.2vh 0 white,
            -0.2vh -0.2vh 0 white;
    }
</style>