<div class="row">
    <div class="section-border">
        <slot name="Start"/>
    </div>
    <div class="section">
        <slot/>
    </div>
    <div class="section-border">
        <slot name="End"/>
    </div>
</div>

<style>
    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    .section {
        flex: 1;
    }
    .section-border {
        width: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible; /* permite que el contenido se salga */
        position: relative;
    }
</style>